# Stock prediction using Time series analysis

In this programm we are going to use a decision tree algorithm to predict if the price of the stock will decrease o increase

## Importing libraries and data

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

In [3]:
amazon = pd.read_csv('D:/Documentos/Master/temariomaster/p6.DescriptiveMachineLearning/Stockprediction/amzn.csv')
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5660,2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000
5661,2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600
5662,2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500
5663,2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800
5664,2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600

## Preprocess the data

In [4]:
#set date as index
amazon = amazon.set_index(pd.DatetimeIndex(amazon['Date'].values))
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
1997-05-15,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1997-05-16,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
1997-05-19,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
1997-05-20,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
1997-05-21,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
2019-11-11,2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000
2019-11-12,2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600
2019-11-13,2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500
2019-11-14,2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800
2019-11-15,2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600

In [5]:
amazon.index.name = 'Date'
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1997-05-15,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1997-05-16,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
1997-05-19,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
1997-05-20,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
1997-05-21,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
2019-11-11,2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000
2019-11-12,2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600
2019-11-13,2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500
2019-11-14,2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800
2019-11-15,2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600

### Now we are going to create a column that will say if the price has increase or decrease, that is the label column

We are going to do that by creating a column that compares the prices of the past day to todays one, if the price is lower set 0 if it is higher set 1

In [8]:
amazon['Price_Up'] = np.where(amazon['Close'].shift(-1) > amazon['Close'], 1, 0)

In [9]:
amazon

,Date,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,,
1997-05-15,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000,0
1997-05-16,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,0
1997-05-19,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,0
1997-05-20,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,0
1997-05-21,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,0
...,...,...,...,...,...,...,...,...
2019-11-11,2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000,1
2019-11-12,2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600,0
2019-11-13,2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500,1
2019-11-14,2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800,0
2019-11-15,2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600,0

In [11]:
#check null values
amazon.isnull().values.any()

False

In [13]:
#delete date column
del amazon['Date']
amazon

,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,
1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000,0
1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,0
1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,0
1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,0
1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,0
...,...,...,...,...,...,...,...
2019-11-11,1778.000000,1780.000000,1767.130005,1771.650024,1771.650024,1946000,1
2019-11-12,1774.660034,1786.219971,1771.910034,1778.000000,1778.000000,2037600,0
2019-11-13,1773.390015,1775.000000,1747.319946,1753.109985,1753.109985,2989500,1
2019-11-14,1751.430054,1766.589966,1749.560059,1754.599976,1754.599976,2264800,0
2019-11-15,1760.050049,1761.680054,1732.859985,1739.489990,1739.489990,3927600,0

## Train and test the model

In [22]:
# getting X and y data
X = amazon.iloc[:,0:6].values
X

array([[2.43750000e+00, 2.50000000e+00, 1.92708300e+00, 1.95833300e+00,
        1.95833300e+00, 7.21560000e+07],
       [1.96875000e+00, 1.97916700e+00, 1.70833300e+00, 1.72916700e+00,
        1.72916700e+00, 1.47000000e+07],
       [1.76041700e+00, 1.77083300e+00, 1.62500000e+00, 1.70833300e+00,
        1.70833300e+00, 6.10680000e+06],
       ...,
       [1.77339001e+03, 1.77500000e+03, 1.74731995e+03, 1.75310999e+03,
        1.75310999e+03, 2.98950000e+06],
       [1.75143005e+03, 1.76658997e+03, 1.74956006e+03, 1.75459998e+03,
        1.75459998e+03, 2.26480000e+06],
       [1.76005005e+03, 1.76168005e+03, 1.73285999e+03, 1.73948999e+03,
        1.73948999e+03, 3.92760000e+06]])

In [21]:
y = amazon.iloc[:,6].values
y

array([0, 0, 0, ..., 1, 0, 0])

In [23]:
# Getting train and testing data with 80-20% proportion
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [26]:
tree = DecisionTreeClassifier()

In [27]:
tree.fit(X_train,y_train)

DecisionTreeClassifier()

In [29]:
print(tree.score(X_train,y_train))

1.0

In [31]:
tree_predictions = tree.predict(X_test)

In [33]:
print(tree_predictions)

[0 1 1 ... 0 0 0]

In [34]:
y_test

array([1, 0, 0, ..., 1, 1, 1])

## Test and Train using grid search cross validation

In [35]:
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=1,test_size=0.3,random_state=13)

In [36]:
for train_index, test_index in sss.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [46]:
params = {'criterion':["gini", "entropy"], 
                                  'max_depth':[None,3,5,7,9],
                                  'min_samples_split':[2,4,8,16,20]}

In [47]:
from sklearn.model_selection import GridSearchCV
miModelo = DecisionTreeClassifier()
gs = GridSearchCV(estimator=miModelo,param_grid=params,scoring='accuracy',cv=5,verbose=1)

In [48]:
gs.fit(X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 3, 5, 7, 9],
                         'min_samples_split': [2, 4, 8, 16, 20]},
             scoring='accuracy', verbose=1)

In [49]:
resultsCV = gs.cv_results_
resultsCV

{'mean_fit_time': array([0.04506121, 0.04099479, 0.03918624, 0.03804226, 0.03781934,
        0.00668025, 0.00576258, 0.0059967 , 0.00528107, 0.00665903,
        0.00892296, 0.00932293, 0.01027288, 0.00952835, 0.00965185,
        0.01249642, 0.01285501, 0.01282105, 0.01298943, 0.01291003,
        0.01645198, 0.01603546, 0.01629505, 0.01689434, 0.0246181 ,
        0.10388494, 0.10091658, 0.10468044, 0.10322461, 0.09783554,
        0.00892339, 0.0090044 , 0.01043935, 0.01001735, 0.00999608,
        0.01510115, 0.01572905, 0.01416631, 0.01502242, 0.01425996,
        0.02094188, 0.02114458, 0.01952858, 0.02056799, 0.02132788,
        0.02569008, 0.02691207, 0.02574062, 0.02564073, 0.02611532]),
 'std_fit_time': array([0.00619848, 0.00562303, 0.00479257, 0.00475912, 0.00432572,
        0.00143074, 0.0016834 , 0.0018341 , 0.00165371, 0.0014929 ,
        0.00113003, 0.00194336, 0.00204046, 0.00182441, 0.00194219,
        0.00173417, 0.00161245, 0.00080001, 0.00127342, 0.00098012,
        0.00077826, 0.00186192, 0.00102172, 0.00226742, 0.00237534,
        0.01498729, 0.0166983 , 0.01835589, 0.01761659, 0.01603821,
        0.0013747 , 0.00082447, 0.0007814 , 0.00134371, 0.00068759,
        0.00088427, 0.00120397, 0.00149294, 0.0018453 , 0.00106632,
        0.00181864, 0.00136689, 0.0012565 , 0.00224712, 0.00047998,
        0.00149333, 0.00235755, 0.00168847, 0.00091967, 0.00137594]),
 'mean_score_time': array([1.00016594e-03, 9.87005234e-04, 8.08954239e-04, 1.03173256e-03,
        1.04980469e-03, 0.00000000e+00, 3.29017639e-04, 8.00371170e-04,
        8.18061829e-04, 0.00000000e+00, 1.01151466e-03, 0.00000000e+00,
        0.00000000e+00, 7.92217255e-04, 1.27935410e-04, 8.11433792e-04,
        3.22866440e-04, 0.00000000e+00, 1.01542473e-03, 2.00700760e-04,
        0.00000000e+00, 1.33867264e-03, 2.00796127e-04, 2.07042694e-04,
        8.38136673e-04, 2.07233429e-04, 5.44738770e-04, 2.36368179e-04,
        5.33676147e-04, 8.40616226e-04, 1.15170479e-03, 0.00000000e+00,
        2.12192535e-05, 0.00000000e+00, 2.12717056e-04, 2.07090378e-04,
        0.00000000e+00, 1.12390518e-04, 0.00000000e+00, 3.24678421e-04,
        1.11823082e-03, 2.07233429e-04, 1.05714798e-04, 1.25503540e-04,
        2.85959244e-04, 1.23314857e-03, 0.00000000e+00, 0.00000000e+00,
        1.10201836e-03, 7.39574432e-05]),
 'std_score_time': array([1.54963511e-03, 1.66296022e-03, 1.61790848e-03, 1.53080767e-03,
        1.55933654e-03, 0.00000000e+00, 6.58035278e-04, 1.60074234e-03,
        1.63612366e-03, 0.00000000e+00, 1.57097363e-03, 0.00000000e+00,
        0.00000000e+00, 1.58443451e-03, 2.55870819e-04, 1.62286758e-03,
        6.45732880e-04, 0.00000000e+00, 1.57734636e-03, 4.01401520e-04,
        0.00000000e+00, 1.49482711e-03, 4.01592255e-04, 4.14085388e-04,
        4.21182021e-04, 4.14466858e-04, 1.08947754e-03, 4.72736359e-04,
        8.07534034e-04, 7.94450151e-04, 1.48591060e-03, 0.00000000e+00,
        4.24385071e-05, 0.00000000e+00, 4.25434113e-04, 4.14180756e-04,
        0.00000000e+00, 2.24781036e-04, 0.00000000e+00, 6.49356842e-04,
        1.65035884e-03, 4.14466858e-04, 2.11429596e-04, 2.51007080e-04,
        5.01396519e-04, 1.60655033e-03, 0.00000000e+00, 0.00000000e+00,
        1.47505854e-03, 1.47914886e-04]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[None, None, None, None, None, 3, 3, 3, 3, 3, 5, 5, 5,
                    5, 5, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, None, None, None,
                    None, None, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 7, 7, 7, 7,
                    7, 9, 9, 9, 9, 9],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[2, 4, 8, 16, 20, 2, 4, 8, 16, 20, 2, 4, 8, 16, 20, 2,
                    4, 8, 16, 20, 2, 4, 8, 16, 20, 2, 4, 8, 16, 20, 2, 4,
                    8, 16, 20, 2, 4, 8, 16, 20, 2, 4, 8, 16, 20, 2, 4, 8,
                    16, 20],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini', 'max_depth': None, 'min_samples_split': 2},
  {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 4},
  {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 8},
  {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 16},
  {'criterion': 'gini', 'max_depth': None, 'min_samples_split': 20},
  {'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 2},
  {'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 4},
  {'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 8},
  {'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 16},
  {'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 20},
  {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 2},
  {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 4},
  {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 8},
  {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 16},
  {'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 20},
  {'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 2},
  {'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 4},
  {'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 8},
  {'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 16},
  {'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 20},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 2},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 4},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 8},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 16},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 20},
  {'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 2},
  {'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 4},
  {'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 8},
  {'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 16},
  {'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 20},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 2},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 4},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 8},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 16},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 20},
  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 2},
  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 4},
  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 8},
  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 16},
  {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 20},
  {'criterion': 'entropy', 'max_depth': 7, 'min_samples_split': 2},
  {'criterion': 'entropy', 'max_depth': 7, 'min_samples_split': 4},
  {'criterion': 'entropy', 'max_depth': 7, 'min_samples_split': 8},
  {'criterion': 'entropy', 'max_depth': 7, 'min_samples_split': 16},
  {'criterion': 'entropy', 'max_depth': 7, 'min_samples_split': 20},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 2},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 4},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 8},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 16},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 20}],
 'split0_test_score': array([0.49936948, 0.49180328, 0.48423707, 0.49936948, 0.50315259,
        0.50693569, 0.50567465, 0.50693569, 0.50567465, 0.50693569,
        0.51197982, 0.51197982, 0.51071879, 0.51071879, 0.51071879,
        0.51071879, 0.51450189, 0.50945776, 0.50945776, 0.51197982,
        0.50945776, 0.50945776, 0.50567465, 0.50819672, 0.51071879,
        0.50945776, 0.50189155, 0.49054224, 0.51954603, 0.52332913,
        0.50819672, 0.50819672, 0.50693569, 0.50819672, 0.50819672,
        0.51197982, 0.51071879, 0.51071879, 0.50567465, 0.50693569,
        0.50567465, 0.50567465, 0.50441362, 0.50315259, 0.50189155,
        0.50189155, 0.50315259, 0.50567465, 0.50063052, 0.50315259]),
 'split1_test_score': array([0.50819672, 0.51828499, 0.50567465, 0.48802018, 0.48171501,
        0.50063052, 0.50063052, 0.50063052, 0.50063052, 0.50063052,
        0.50063052, 0.50063052, 0.49684741, 0.50063052, 0.49684741,
        0.47667087, 0.49684741, 0.49558638, 0.49432535, 0.4779319 ,
        0.50315259, 0.50441362, 0.48675914, 0.4741488 , 0.49432535,
        0.52080706, 0.50189155, 0.5258512 , 0.52332913, 0.50441362,
        0.51576293, 0.51702396, 0.51702396, 0.51702396, 0.51702396,
        0.49306431, 0.49432535, 0.49180328, 0.49558638, 0.49558638,
        0.49558638, 0.49432535, 0.49432535, 0.49936948, 0.49558638,
        0.49936948, 0.50189155, 0.49936948, 0.49936948, 0.50189155]),
 'split2_test_score': array([0.47919294, 0.46532156, 0.47667087, 0.4703657 , 0.48802018,
        0.52080706, 0.52080706, 0.52080706, 0.52080706, 0.52080706,
        0.51576293, 0.51576293, 0.51702396, 0.51702396, 0.51702396,
        0.51324086, 0.51324086, 0.51450189, 0.51450189, 0.51450189,
        0.51576293, 0.51324086, 0.51324086, 0.51324086, 0.51324086,
        0.49558638, 0.4703657 , 0.47288777, 0.50693569, 0.48297604,
        0.52080706, 0.52080706, 0.52080706, 0.52080706, 0.52080706,
        0.51576293, 0.51450189, 0.51450189, 0.51576293, 0.51576293,
        0.51324086, 0.51324086, 0.51197982, 0.51324086, 0.51324086,
        0.50819672, 0.51071879, 0.50819672, 0.50945776, 0.50945776]),
 'split3_test_score': array([0.48549811, 0.49054224, 0.48928121, 0.51071879, 0.50693569,
        0.51828499, 0.51828499, 0.51828499, 0.51828499, 0.51828499,
        0.49054224, 0.49054224, 0.49054224, 0.49054224, 0.49054224,
        0.48549811, 0.48802018, 0.48549811, 0.48675914, 0.48675914,
        0.48928121, 0.48928121, 0.48802018, 0.48928121, 0.48928121,
        0.49432535, 0.48297604, 0.50441362, 0.50189155, 0.48675914,
        0.51702396, 0.51702396, 0.51702396, 0.51702396, 0.51702396,
        0.49306431, 0.49180328, 0.49306431, 0.49306431, 0.49306431,
        0.48675914, 0.49054224, 0.49054224, 0.49054224, 0.49180328,
        0.48549811, 0.48675914, 0.48675914, 0.48928121, 0.48549811]),
 'split4_test_score': array([0.49810845, 0.49936948, 0.50567465, 0.50315259, 0.50945776,
        0.51954603, 0.51702396, 0.51702396, 0.51954603, 0.51954603,
        0.5220681 , 0.51450189, 0.51450189, 0.51576293, 0.52332913,
        0.52080706, 0.5220681 , 0.5220681 , 0.52332913, 0.51702396,
        0.51071879, 0.51071879, 0.51197982, 0.51702396, 0.51450189,
        0.50693569, 0.50441362, 0.51197982, 0.50693569, 0.50567465,
        0.51828499, 0.51954603, 0.51954603, 0.51828499, 0.51828499,
        0.51324086, 0.52459016, 0.52459016, 0.52459016, 0.52459016,
        0.51450189, 0.51576293, 0.51450189, 0.51702396, 0.50819672,
        0.51450189, 0.51702396, 0.51702396, 0.51197982, 0.51450189]),
 'mean_test_score': array([0.49407314, 0.49306431, 0.49230769, 0.49432535, 0.49785624,
        0.51324086, 0.51248424, 0.51273644, 0.51298865, 0.51324086,
        0.50819672, 0.50668348, 0.50592686, 0.50693569, 0.50769231,
        0.50138714, 0.50693569, 0.50542245, 0.50567465, 0.50163934,
        0.50567465, 0.50542245, 0.50113493, 0.50037831, 0.50441362,
        0.50542245, 0.49230769, 0.50113493, 0.51172762, 0.50063052,
        0.51601513, 0.51651955, 0.51626734, 0.51626734, 0.51626734,
        0.50542245, 0.50718789, 0.50693569, 0.50693569, 0.50718789,
        0.50315259, 0.50390921, 0.50315259, 0.50466583, 0.50214376,
        0.50189155, 0.50390921, 0.50340479, 0.50214376, 0.50290038]),
 'std_test_score': array([0.01038039, 0.01704963, 0.01162889, 0.01404228, 0.01097607,
        0.00801526, 0.00787919, 0.00767472, 0.00822674, 0.00801526,
        0.0112508 , 0.0096829 , 0.01038039, 0.01002502, 0.01226773,
        0.01713522, 0.01253445, 0.01318731, 0.01334553, 0.01607806,
        0.00912835, 0.00856761, 0.01151898, 0.01621594, 0.01049011,
        0.00974837, 0.01340735, 0.01816239, 0.00822674, 0.01455388,
        0.00425026, 0.00441182, 0.00489047, 0.0042652 , 0.0042652 ,
        0.01016365, 0.01241718, 0.01268578, 0.0119366 , 0.01192061,
        0.01061069, 0.01001232, 0.00943671, 0.00955062, 0.00787112,
        0.00973531, 0.01016991, 0.01006934, 0.00807062, 0.00981341]),
 'rank_test_score': array([47, 48, 49, 46, 45,  6, 10,  9,  8,  6, 12, 20, 21, 16, 13, 40, 16,
        24, 22, 39, 22, 24, 41, 44, 29, 24, 49, 41, 11, 43,  5,  1,  2,  3,
         3, 24, 14, 16, 16, 14, 33, 30, 33, 28, 37, 38, 30, 32, 36, 35])}

In [50]:
clfBest = gs.best_estimator_
clfBest

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_split=4)

In [51]:
clfBest.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_split=4)

In [52]:
y_pred = clfBest.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.5023529411764706